<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>Angular JS.☺ </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js" charset="utf-8"></script>
    <script src="js/app" charset="utf-8"></script>
</head>
<body>
    <h2>Welcome to angularjs Program.</h2>
    <form class="" action="#">
        <label for="first">First values</label>
        <input type="number" name="number" ng-model="num1"> <br>
        <label for="first">First values</label>
        <input type="number" name="number" ng-model="num2">
        <hr>
    </form>
    <h3>Sum of: {{num1 + num2}}</h3>
    <h3>Product of: {{num1 * num2}}</h3>

</body>
</html>
