<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular JS.☺ </title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js" charset="utf-8"></script>
  <script src="js/app.js" charset="utf-8"></script>
</head>
<body ng-app="app" ng-controller="MainController as main">

  <h3>My todo list...</h3>
  <ul>
    <li ng-repeat="task in main.tasks">
      <!-- <input type="checkbox" ng-model="main.task"> {{task.name}} -->
      <input type="checkbox" ng-model="task.done">
      <span ng-if="!task.done">{{task.name}} </span>
      <!-- {{task.name}} -->
    </li>
  </ul>
</body>
</html>
